.tool-form {
    background: transparent;
}

.tool-form__main {
    font-size: 1rem;
    margin: 0.5rem;
}

.tool-form__title {
  color: var(--fonts);
  font-style:unset
}

.tool-form__description {
    color: var(--fonts);
    display: block;
}



.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--headers);
    border-radius: 4px;
    background: var(--headers);
    color: var(--fonts);
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: block;

  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: #ff4382;
    border-color: #ff4382;
  }
  
  .button--inverse {
    background: transparent;
    color: var(--headers);;
  }
  
  .button--inverse:hover,
  .button--inverse:active {
    color: var(--fonts);;
    background: var(--headers);;
  }
  
  .button--danger {
    background: #830000;
    border-color: #830000;
  }
  
  .button--danger:hover,
  .button--danger:active {
    background: #f34343;
    border-color: #f34343;
  }
  
  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .button--small {
    font-size: 0.8rem;
  }
  
  .button--big {
    font-size: 1.5rem;
  }



