.dropzone-container {
    margin: 0 0 1rem 0;
}

.dropzone-label {
    color: var(--fonts);;
}

.dropzone {
    background: var(--fonts);;
    color: black;
    font-size: 1.5rem;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 0.5rem 0 0 0;
    width: 700px;
}

.dropzone-innertext {
    font-size: 1rem;
}