.App {
  /* text-align: center; */
  background-color: var(--backgrounds);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--fonts);;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .selector-area { 
    grid-area: 1 / 1 / 2 / 2;
    overflow-x: auto;
    max-height: calc(100vh - 4rem);
   }
  
  
   .form-area { 
    grid-area: 1 / 2 / 2 / 6;
    max-height: calc(100vh - 4rem);
    overflow-x: auto;
   }
  
   .progress-area { 
    grid-area: 1 / 6 / 2 / 10;
    max-height: calc(100vh - 4rem);
    overflow-x: auto;
   }